/* ---------------------------------------------------- */
/*                    style by TAG                      */
/* ---------------------------------------------------- */
/*          Organized by SCOPE / page ORDER             */
/* ---------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header {
    grid-column: span 2;    
    background-color: red;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* ---------------------------------------------------- */
/*                  style by CLASS                      */
/* ---------------------------------------------------- */
/*               Organized ALPHABETICAL                 */
/* ---------------------------------------------------- */

.item {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}

.item-description {
    background-color: orange;
}

.item-edit {
    background-color: red;
}

.item-complete {
    background-color: blue;
}

.item-incomplete {
    background-color: blue;
}

.item-delete {
    background-color: greenyellow;
}

.list {
    background-color: beige;
    margin: 1%;
}



/* ---------------------------------------------------- */
/*                    style by ID                       */
/* ---------------------------------------------------- */
/*               Organized by HTML file                 */
/* ---------------------------------------------------- */

/* ---------- */
/* index.html */
/* ---------- */
