/* ---------------------------------------------------- */
/*                    style by TAG                      */
/* ---------------------------------------------------- */
/*          Organized by SCOPE / page ORDER             */
/* ---------------------------------------------------- */

header {
    background-color: palegoldenrod;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* ---------------------------------------------------- */
/*                  style by CLASS                      */
/* ---------------------------------------------------- */
/*               Organized ALPHABETICAL                 */
/* ---------------------------------------------------- */



/* ---------------------------------------------------- */
/*                    style by ID                       */
/* ---------------------------------------------------- */
/*               Organized by HTML file                 */
/* ---------------------------------------------------- */

/* ---------- */
/* index.html */
/* ---------- */
